.footer {
    background-color: #011627;
    padding: 20px;
    text-align: center;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}

p {
    margin: 0;
    color: white;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #007bff;
}

.social-icons i {
    font-size: 20px;
    line-height: 50px;
}