.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.card {
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.form-group {
    padding: 10px;
}
